*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body
{
    font-size: 20px;
    background-color: #fff;
    color: #333;
    text-rendering: optimizeLegibility;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(resources/css/img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.row
{
    width: 1140px;
    margin: 0 auto;
}
h1
{
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.logo
{
    height: 100px;
    margin-top: 20px;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 50px;
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
    padding-bottom: 10px;
}
.main-nav li a:hover
{
    border-bottom: 2px solid #e67e22;
}
.hero-text-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.btn
{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    padding: 10px 30px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
.btn-full
{
    color: #fff;
    background-color: #e67e22;
}
.btn-full:hover
{
    background-color: #4b280a;
}
.btn-ghost
{
    color: #e67e22;
    border: 1px solid #e67e22;
}
.btn-ghost:hover
{
    color: #fff;
    background-color: #e67e22;
}